
Image{
    height: 15;
    vertical-align: center;
    margin-left: 10;
    margin-right: 10;
}

.add-bar TextField{
    padding:10;
}

.addItemImage{
   margin-left: auto; 
}

.accordion_header{
    width:100%!important;
    text-align: center;
}

.acc_header_label{
    height: 45;
    font-size:25;
    text-align: right;
}

Label {
    background-color: white;
    border-bottom-width: 1;
    border-bottom-color: gray;
  }